html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    color: #333;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.body--dark {
    background: #eceaea;
}